{% from 'header.html' import header %}
{% from 'new_task_form.html' import new_task %}
{% from 'edit_task_form.html' import edit_task %}
<!DOCTYPE html>
<html lang="en">
{{ header("Каталог", current_user) }}
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-md-2 col-xl-2 px-0 bg-dark d-flex flex-column align-items-center align-items-sm-start text-white"
             style="height: 94vh">
            <div class="w-100 pt-4 pb-4 p-2">
                <p>{{ course.name }}</p>
            </div>
            {% for task in task_list %}
                <li class="nav nav-pills flex-column mb-sm-auto mb-0 w-100 align-items-center align-items-sm-start"
                    id="menu">
                    <a class="text-white"
                       href="{{ url_for('edit_tasks_of_course', id=course.id, selected_task_id=task.id) }}">{{ task.name }}</a>
                </li>
            {% endfor %}
            <button id="show-form-btn">Показать форму создания задания</button>
            <div class="w-100 pt-4 pb-4 p-2">
            </div>
        </div>
        <div class="col py-3">
            {% if selected_task.task_type == 1 %}
                <p>Задание с одним вариантом ответа</p>
            {% elif selected_task.task_type == 2 %}
                <p>Задание с несколькими вариантами ответа</p>
            {% else %}
                <p>Задание с текстовым вариантом ответа</p>
            {% endif %}
            {% if selected_task %}
                <div class="col py-3">
                    {{ edit_task(course, selected_task) }}
                </div>
            {% endif %}
            <div class="col py-3">
                <div id="new_task_form" style="display: none">
                    <fieldset>
                        <legend>Выберите тип задания:</legend>

                        <div>
                            <input class="task_type_btn" type="radio" id="single" name="drone" value="single"
                                   checked>
                            <label for="single">С одним вариантом ответа</label>
                        </div>

                        <div>
                            <input class="task_type_btn" type="radio" id="multiple" name="drone" value="multiple">
                            <label for="multiple">С несколькими вариантами ответа</label>
                        </div>

                        <div>
                            <input class="task_type_btn" type="radio" id="text" name="drone" value="text">
                            <label for="text">С развернутым ответом</label>
                        </div>
                    </fieldset>
                    <div class="mt-5"> </div>

                    <div id="new_task_form_single" style="display: none">
                        {{ new_task(course, "single") }}
                    </div>
                    <div id="new_task_form_multiple" style="display: none">
                        {{ new_task(course, "multiple") }}
                    </div>
                    <div id="new_task_form_text" style="display: none">
                        {{ new_task(course, "text") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/ts/show_create_task_form.ts">
</script>
</body>
</html>